#menuImg1 {
    padding-top: 7px;  
    visibility: hidden;
      height: 1px;
      border-radius: 10px;
  }
  #menuLi1:hover > #menuImg1 {
      visibility: visible;
      height: 186px;
      width: 272px;
  }


  #menuImg2 {
    padding-top: 7px;  
    visibility: hidden;
      height: 1px;
      border-radius: 10px;
  }
  #menuLi2:hover > #menuImg2 {
      visibility: visible;
      height: 186px;
      width: 272px;
  }


  #menuImg3 {
    padding-top: 7px;  
    visibility: hidden;
      height: 1px;
      border-radius: 10px;
  }
  #menuLi3:hover > #menuImg3 {
      visibility: visible;
      height: 186px;
      width: 272px;
  }

  #assBtn {
    position: absolute;
    left: -40px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }

  #assBtn:hover {
      left: 0px;
      background-color: red;
  }