@media screen and (max-width: 1200px) {
    #desktopMenu {visibility: hidden;}
}

#mobileMenu {visibility: hidden;}

@media screen and (max-width: 1200px) {
    #mobileMenu {visibility: visible;}
}

@media screen and (max-width: 1400px) {
  #menuLi1 {
      left: 12.5%;
  }
}